# Currency API
CURRENCY_API_URL=https://currencyapi.net/api/v1/
CURRENCY_API_KEY=api_key

# PostgreSQL (for docker-compose)
POSTGRES_USER=sharkie
POSTGRES_PASSWORD=password
POSTGRES_DB=sharkie

# App port (optional, default 3000)
APP_PORT=3000

# For local development (without docker)
# DATABASE_URL=postgresql://sharkie:password@localhost:5432/sharkie
