CURRENCY_API_URL=https://currencyapi.net/api/v2/
CURRENCY_API_KEY=api_key

POSTGRES_USER=sharkie
POSTGRES_PASSWORD=sharkie
POSTGRES_DB=sharkie

BACKUP_REMOTE_DEFAULT_USER=sharkie
BACKUP_REMOTE_DEFAULT_HOST=sharkie%pass
